// main.scss
//

@import 'mixins';

$brand: #BB1919;
$brand-2: #A91717;

$openDuration: 350ms;
$openCurve: cubic-bezier(0.23, 1, 0.32, 1);
$closeDuration: 350ms;
$closeCurve: cubic-bezier(0.23, 1, 0.32, 1);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
  // -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}


// PAGE
//

.blq {
  height: 40px;
}
.masthead {
  background-color: $brand;
  // -webkit-font-smoothing: antialiased;
}
  .masthead__inner {
    @include container;
    position: relative;
    height: 56px;
  }
  .masthead__brand {
    margin-top: 12px;
  }
  .masthead__location {
    color: #FFF;
    font-size: 18px;
    position: absolute;
      top: 50%; right: 16px;
    transform: translateY(-50%);
  }


// Primary & Secondary Nav
//

.primary-nav,
.secondary-nav {
  height: 38px;

  ul {
    @include nav;
    margin-top: 0;
    margin-bottom: 0;
  }
  li {

    &:first-child {

      a {
        padding-left: 16px;

        &::before {
          content: none;
        }
      }
    }

    &:last-child {

      a {
        padding-right: 16px;
      }
    }
  }
  a {
    display: block;
    font-size: 14px;
    line-height: 38px;
    padding-right: 12px;
    opacity: 1;

    &::before {
      display: inline-block;
      content: "";
      height: 12px;
      margin-right: 12px;
      width: 1px;
    }
  }
}
.primary-nav__inner,
.secondary-nav__inner {
  @include container;
  @include container--full;
}

.primary-nav {
  background-color: $brand-2;
  // -webkit-font-smoothing: antialiased;

  li {
    overflow: hidden;

    &.active {

      // li.active + li a::before
      // - Turn off vertical keyline beside .active list item
      + li a::before {
        background-color: rgba(255,255,255,0);
      }

      a {
        color: inherit;
        background-color: #FFF;

        &::before {
          background-color: rgba(255,255,255,0);
        }
      }

      span {
        border-bottom: 4px solid $brand-2;
        padding-bottom: 7px;
      }
    } // /.active

    // Show items as screen width allows
    @media (max-width: 1007px) {
      &:nth-child(11) { display: none; }
    }
    @media (max-width: 893px) {
      &:nth-child(10) { display: none; }
    }

  }
  a {
    color: #FFF;

    &:hover {

      span {
        border-bottom: 4px solid #FFF;
        padding-bottom: 7px;
      }
    }

    &::before {
      background-color: rgba(255,255,255,0.6);
    }
  }

  .toggle-menu {
    // font-weight: bold;
    // -webkit-font-smoothing: antialiased;

    &:hover {
      background-color: #222;

      span {
        border-bottom-color: #222;
      }
      &::before {
        background-color: rgba(255,255,255,0);
      }

    }

    .toggle-menu__list,
    .toggle-menu__close {
      position: relative;
      bottom: -1px;
    }

    .toggle-menu__close { display: none; }

    &.toggle-menu--active {
      background-color: #222;

      span {
        border-bottom-color: #222;
      }
      &::before {
        background-color: rgba(255,255,255,0);
      }

      .toggle-menu__list { display: none; }
      .toggle-menu__close { display: inline; }
    }
  }
}
.primary-nav--hidden {

  a:not(.toggle-menu) {
    opacity: 0;
  }
}
  .primary-nav__inner {}

.secondary-nav {
  border-bottom: 1px solid #EEE;

  ul {}
  li {

    &.active {

      a {}
      span {
        border-bottom: 4px solid #DDD;
        padding-bottom: 7px;
      }
    }
  }
  a {

    &::before {
      background-color: #DDD;
    }
  }
}
.secondary-nav--hidden {

  a {
    opacity: 0;
  }
}
  .secondary-nav__inner {}


// Mega Menu
//

.mega-menu {
  background-color: #222;
  height: 0;
  overflow: hidden;
  transition: height $closeDuration $closeCurve;
  -webkit-font-smoothing: antialiased;
}
.mega-menu--open {
  height: 644px;
  transition: height $openDuration $openCurve;

  @media (max-width: 910px) { height: 712px; }

  .mega-menu__core {

    // Parents
    > li {

      &:nth-child(1) a { transition-delay:  0ms; }
      &:nth-child(2) a { transition-delay:  16ms; }
      &:nth-child(3) a { transition-delay:  32ms; }
      &:nth-child(4) a { transition-delay:  48ms; }
      &:nth-child(5) a { transition-delay:  64ms; }
      &:nth-child(6) a { transition-delay:  80ms; }
      &:nth-child(7) a { transition-delay:  96ms; }
      &:nth-child(8) a { transition-delay:  112ms; }
      &:nth-child(9) a { transition-delay:  128ms; }
      &:nth-child(10) a { transition-delay: 144ms; }
      &:nth-child(11) a { transition-delay: 160ms; }

      a {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 120ms linear, transform 120ms linear;
      }

      // Children
      ul li {

        &:nth-child(1) a { transition-delay:  0ms; }
        &:nth-child(2) a { transition-delay:  16ms; }
        &:nth-child(3) a { transition-delay:  32ms; }
        &:nth-child(4) a { transition-delay:  48ms; }
        &:nth-child(5) a { transition-delay:  64ms; }
        &:nth-child(6) a { transition-delay:  80ms; }
        &:nth-child(7) a { transition-delay:  96ms; }
        &:nth-child(8) a { transition-delay:  112ms; }
        &:nth-child(9) a { transition-delay:  128ms; }
        &:nth-child(10) a { transition-delay: 144ms; }
        &:nth-child(11) a { transition-delay: 160ms; }

        a {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: opacity 120ms linear, transform 120ms linear;
        }
      }
    }
  }
}
  .mega-menu__inner {
    @include container;
    @include container--full;
  }
  .mega-menu__core {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;

    > li {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQI12MwBgAANQA0YDqBrwAAAABJRU5ErkJggg==);
      background-repeat: repeat-x;
      background-position: 0 bottom;

      &:last-child {
        background-image: none;
      }

      &.has-children {
        @include clearfix;

        > a {
          float: left;
          width: 181px + 20;
          @media (max-width: 846px) { width: 157px + 20; }

          &:hover {
            width: 181px + 20 + 16;
            @media (max-width: 846px) { width: 157px + 20 + 16; }
          }
        }
      }

      &.active {

        > a {
          margin-left: 0;
          width: 181px + 20 + 16;
          @media (max-width: 846px) { width: 157px + 20 + 16; }

          span {
            border-left: 4px solid $brand-2;
            padding-left: 12px;
          }
        }
      }

      &.highlight-row {

        > a {
          margin-left: 0;
          width: 181px + 20 + 16;
          @media (max-width: 846px) { width: 157px + 20 + 16; }

          span {
            border-left: 4px solid #FFF;
            padding-left: 12px;
          }
        }
      }

      > a {
        color: #FFF;
        display: inline-block;
        font-size: 18px;

        @media (max-width: 846px) { font-size: 16px; }

        font-weight: bold;
        line-height: 1;
        margin-left: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: opacity 120ms linear, transform 120ms linear;

        &:hover {
          margin-left: 0;

          span {
            border-left: 4px solid #FFF;
            padding-left: 12px;
          }
        }
      }

      // Children lists
      ul {
        @include clearfix;
        float: left;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        li {
          float: left;
          padding-right: 24px;
          @media (max-width: 846px) { padding-right: 20px; }

          &:first-child {}

          &:last-child {
            padding-right: 0;
          }

          &.active {

            a {
              border-bottom: 1px solid #FFF;
              color: #FFF;

              span {}
            }
          }
        }
        a {
          color: #C9C9C9;
          display: block;
          font-size: 16px;
          line-height: 1;
          padding-top: 11px;
          padding-bottom: 10px;
          transition: opacity 120ms linear, transform 120ms linear;

          @media (max-width: 846px) {
            padding-top: 10px;
            font-size: 15px;
          }

          span {}

          &:hover {
            border-bottom: 1px solid #FFF;
            color: #FFF;

            span {}
          }
        }
      }
    }
  }

  .mega-menu__aside {
    @include container;
    @include container--full;
    border-top: 4px solid #333;
    display: table;
    padding-top: 20px;
    padding-bottom: 32px;

    .aside__col {
      display: table-cell;
      width: 33.33%;

      &:first-of-type {}
      &:last-of-type {}
    }

    h4 {
      color: #C9C9C9;
      font-size: 18px;
      font-weight: normal;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: 16px;
    }

    ul {
      @include nav;
      margin-top: 0;
      margin-bottom: 0;
    }

      li {
        padding-bottom: 12px;
        max-width: 156px;
        width: 50%;

        // @media (max-width: 1000px) {
        //   // max-width: none;
        //   // width: 100%;
        // }
        @media (max-width: 910px) {
          max-width: none;
          width: 100%;
        }
      }
      a {
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;

        @media (max-width: 1000px) {
          font-size: 15px;
        }
        @media (max-width: 910px) {
          font-size: 16px;
        }

        &:hover {
          color: #FFF;

          span {
            border-color: $brand-2;
          }
        }
      }
        span {
          border-left: 4px solid transparent;
          padding-left: 12px;
        }
  }
